@import 'menu';
@import 'config';

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

h2 {
  padding-top: 4rem;
  text-align: center;
}

h3 {
  padding: 0.8rem;
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-character;
}

form {
  background: rgb(223, 223, 223);
  color: black;
  margin: 3rem 0rem;
  padding: 1rem;

  h2 {
    padding: 1rem;
  }

  label {
    display: block;
    padding: 0.5rem;
    padding-bottom: 0.7rem;
    margin: 0.2rem;
    margin-bottom:0;
    
    input {
      padding: 0.1rem;
      float: right;
      clear: both;
      width: 60%;
    }
  }

  .submit-div {
    display: flex;

    input {
      flex: 1;
      background-color: green;
      border: rgb(1, 94, 1) solid 2px;
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 0.5rem;
      &[type=reset] {
        background: red;
        border: rgb(82, 0, 0) solid 2px;
      }
    }
  }

  .form-email-section {
    margin-top: 2rem;

    label {
      margin: 1rem 0rem;
    }

    textarea {
      width: 100%;
    }
  }
}

.menu-btn {
  position: absolute;
  z-index: 5;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  @include desktop {
    display: none;
    position: static;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: lavender;
    @include transition-ease;

    &::before {
      content: '';
      position: absolute;
      top:-8px;
      width: 28px;
      height: 3px;
      background: lavender;
      @include transition-ease;
    }

    &::after {
      content: '';
      position: absolute;
      top:8px;
      width: 28px;
      height: 3px;
      background: lavender;
      @include transition-ease;
    }

    &.toggled {
      transform: rotate(720deg);
      background: transparent;
      size: 0;

      &::before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &::after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}

header {
  
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
    visibility: hidden;

    @include desktop {
      visibility: visible;
      position: static;
    }

    &.toggled {
      visibility: visible;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: transparent;
      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      @include transition-ease();

      @include desktop {
        flex-direction: row;
        height: unset;
        transform: translateY(0%);
      }

      &.toggled {
        transform: translateY(0%);
      }

      li {

        padding: 5vh;
        @include desktop {
          padding: 30px;
        }

        a.menu-nav__link {
          text-decoration: none;
          border-radius: 0.5rem;
          padding: 0.4rem;
          @include transition-ease;
          &:hover {
            background-color: $nav-hover;
          }

          &:hover {
            background: $nav-hover;
          }

        }
      }
    }
  }
}