@import 'menu';
@import 'config';

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

div.preamble {
  margin: 1rem;
  margin-top: 3rem;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    a {
      color: rgb(255, 115, 0);
    }
  }
}

ul {
  padding-left: 1rem;
  list-style-type: square;
  
  li {
    margin: 0.3rem;
  }
}

p {
  text-indent: 1rem;
}


article.online-resume {
  width: 60rem;
  max-width: 90%;
  background: rgb(255, 255, 255);
  margin: 5vw;
  color: black;
  font-size: 0.7rem;
  padding-bottom: 1rem;

  .resume-header {
    padding: 1rem;
    background-color: rgb(29, 29, 29);
    color: lavender;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
  }

  .resume-body {
    margin: 1rem;

    ul {
      list-style-type: square;
    }


    .card {
      padding: 0.4rem;
      margin: 0.3rem;
      

      h3 {
        margin-bottom: 0.3rem;
        font-size: 0.7rem;
      }

      h4 {
        margin-bottom: 0.4rem;
        border-bottom: black solid 1px;
      }

      section {
        margin: 1rem 0;
        padding: 0.5rem;
        border-left: rgb(255, 115, 0) solid 2px;
      }

      ul {
        margin: 1rem;
        list-style-type: square;
        
        li::before {
          content: "\200B";
        }

        li {
          margin: 0.3rem;
        }
      }
    }

    h2 {
      color: orangered;
      border-bottom: orangered double 3px;
      margin: 1rem 0rem;
      font-weight: lighter;
      font-size: 1rem;
    }
  }
}

/*
.menu-btn {
  position: absolute;
  z-index: 5;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  @include desktop {
    display: none;
    position: static;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: lavender;
    @include transition-ease;

    &::before {
      content: '';
      position: absolute;
      top:-8px;
      width: 28px;
      height: 3px;
      background: lavender;
      @include transition-ease;
    }

    &::after {
      content: '';
      position: absolute;
      top:8px;
      width: 28px;
      height: 3px;
      background: lavender;
      @include transition-ease;
    }

    &.toggled {
      transform: rotate(720deg);
      background: transparent;
      size: 0;

      &::before {
        transform: rotate(45deg) translate(5px, 6px);
      }

      &::after {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}*/

header {
  
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    background-color: rgba(0,0,0,0.9);
    opacity: 1;
    visibility: hidden;

    @include desktop {
      visibility: visible;
      position: static;
    }

    &.toggled {
      visibility: visible;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: transparent;
      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      @include transition-ease();

      @include desktop {
        flex-direction: row;
        height: unset;
        transform: translateY(0%);
      }

      &.toggled {
        transform: translateY(0%);
      }

      li {

        padding: 5vh;
        @include desktop {
          padding: 30px;
        }

        a.menu-nav__link {
          text-decoration: none;
          border-radius: 0.5rem;
          padding: 0.4rem;
          @include transition-ease;
          &:hover {
            background-color: $nav-hover;
          }

          &:hover {
            background: $nav-hover;
          }

        }
      }
    }
  }
}