* {
 margin:0;
 padding:0;   
 box-sizing: border-box;
 font-family: consolas;
}

:root {
    /** Dark Palette **/
    --border-orange: rgb(167, 89, 0);
    --background-blue: rgba(112,146,190,1);
    --dark-blue: rgba(79, 104, 136,0.95);
    --light-blue-border: rgb(154, 180, 214);
    --card-color: lavender;

    /** Light Palette **/

    /** Blue-Purple Palette **/
    --background-blue: rgb(19, 6, 36);
    
}

body {
    /*background: linear-gradient(135deg, rgba(0,0,0,1),rgb(12, 58, 58)); */
    background-color: rgb(6, 7, 36);
}

/** typewriter effect styles **/
.type {
    width: fit-content;
    position: relative;
    /**empty for now **/ 
}

.type::after {
    margin-right: 1rem;
    content: "";
    position: absolute;
    right: -1.3rem;
    width: 2px;
    height: 1em;
    
}

.typing::after {
    
    line-height: 0;
    position: absolute;
    
}

.typedone::after {
    border-right: 2px solid white;
    animation: blink 1s infinite steps(1);
}

a.inlinetyper {
    color: white;
}

@keyframes opac-fix {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes typing {
    from {background-size: 0 200%}
}

@keyframes blink-type{
    
    50% {background-position: 0 -100%, 0 0}
}

@keyframes blink {
    0% {opacity:0;}
    50% {opacity: 1;}
}


/** Normal Page Stylings **/
h1 {
    width: fit-content;
    color: white;
    font-family: consolas;
    margin-top: 2vh;
    margin-left: 2vh;
}

h1.starterh1 {
    display: inline-block;
}

h1 ~ p {
    height: 4vh;
    margin: 2vh;
    color: white;
    font-family: consolas;
}
section {
    min-height: 50vh;
}

section #resume-links {
    display: flex;
    width: 80vw;
    margin: auto;
    opacity: 0;
    animation: opac-fix 1s forwards;
    animation-delay: 20s;
}

h2 {
    height: 5vh;
    margin: 2vh;
    color: white;
}

section #resume-links {
    padding-top: 20vh;
    justify-content: center;
}

section #resume-links a {
    text-align: center;
    max-width: 40vw;
    width: 20rem;
    font-size: 1.5rem;
    
    text-decoration: none;
    padding: 0.5rem;
    margin: 1rem;
    border: 3px solid rgb(12, 58, 58);
    background-color:rgb(8, 19, 36);
    border-radius: 10px;
    color: white; 
}

/** Navigation Bar #Realistically most of this should go into the other side of things. **/
nav {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    height: 4rem;
    background-color: rgba(25, 41, 78, 0.555);
    overflow: hidden;
    display: flex;
}

.main-logo {
    margin-top: 1rem;
    flex: 1;
}

nav a {
    /** this all needs to be updated, looks ugly as sin, especially on phone **/
    color: white;
    
    text-decoration: none;
    font-size: 1.2rem;
    margin: 1.4rem 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    
    /*background-color:rgba(79, 104, 136, 0.95);*/
}
nav a:hover {
    background-color:rgb(6, 103, 238)
}

nav ul {
    /*margin: 1.4rem 1rem; */
    padding: 1.4rem 0;
    float: right;
    display: flex;
}

nav li {
    list-style: none;
    flex: 1;
}

/** Dark-Light Slider Styling **/
nav .DLtoggle-checkbox {
    display: none;
}

nav .DLtoggle-checkbox:checked .toggle-label:before {
    background: white;
    border-color: black;
    animation-name: switch;
    animation-duration: 350ms;
    animation-fill-mode:forwards;
}

nav .toggle-label {
    display: none; /** hidding DL toggle for now **/
    margin-top: 1rem;
    width: 20vw;
    height: 6vh;
    background: var(--dark-blue);
    border-radius: 50px;
    border: 3px solid var(--light-blue-border);
    transition: all 350ms ease-in;
}

nav .toggle-label:before { /** This code is shamelessly stolen from a daily dev tips article for
    css only toggle switching https://daily-dev-tips.com/posts/creating-day-night-css-only-toggle-switch/ **/
    animation-name: reverse;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    transition: all 350ms ease-in;
    content: '';
    width: 5vw;
    height: 5vw;
    border: 2px solid white;
    background: black;
    position: absolute;
    top: 4.3vh;
    left: 60.5vw;
    border-radius: 100px;
}

nav .burger-icon {
    display: none;
}

nav a.burger-icon {
    font-size: 2.5rem;

}

.project-list {
    margin: 0rem 0;
}
.project-list h2 {
    font-size: 3rem;
}

/* Projects styling */ 
.project-cards {
    background-color: rgb(20, 19, 65); 
    margin: 0;
    padding: 3rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    color: lavender; /*rgb(230, 229, 231); */
    border-bottom: solid rgb(0, 0, 0) 2px;
    margin: 1rem 2rem;
    padding: 1rem;
    min-width: min-content;
    max-width: 70%;
    box-shadow: 0 0 25px 10px rgba(8, 19, 36, 1);
}

.card h3 {
    text-align: center;
}

.card a {
    margin: 1rem 0;
}

.card .discussionCol {
    display: grid;
    row-gap: 3rem;
}

.card .displayCol a {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.projectSublinks {
    display: flex;
}

.card .displayCol .projectSublinks a {
    text-decoration: none;
    color: rgb(0, 240, 220);
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.projectSublinks a:hover {
    background: rgb(9, 121, 173);
}

.card .displayCol ul {
    margin: 2rem;
}

section.TechLogos {
    padding: 1rem;
    margin: 3rem 0;
    box-shadow: 0 0 25px 10px rgba(138, 138, 138, 0.473);
    display: flex;
    background: rgba(248, 248, 248, 0.397);
    height: fit-content;
    min-height: unset;
} 

section.TechLogos img {
    margin: 1rem;
}

#wordleClone {
    background-image: url('images/WordleClone.PNG');
    width: 250px;
    height: 310px;
    background-repeat:no-repeat;
    display: block;
}

#collaboards {
    background-image: url('images/Collaboards.PNG');
    background-size: cover;
    width: 30vh;
    height: 16vh;
    background-repeat:no-repeat;
    display: block;
}

/** Media Queries **/

@media screen and (max-width: 900px) {
    body {
        
    }

    nav ul {
        display: none;
        margin: 0;
        z-index: 1;
    }

    nav a {
        border: none;
        padding: 0;
        background-color: transparent;
    }

    nav .burger-icon {
        display: block;
        margin: 0;
        padding: 0.6rem 1rem;
        color:rgb(179, 179, 179);
    }

    nav.toggled {position: relative;}

    nav.toggled ul {
        position: fixed;
        width: 100%;
        height: 25vh;
        background: rgba(79, 104, 136,0.95);
        top: 4rem;
        display: block;
        text-align: center;
    }

    
    nav.toggled ul a,nav.toggled ul li {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .project-cards {
        margin: 0;
        padding: 1rem;
    }

    


}


/** Animations **/
@keyframes fade-elem-in {
    0% {opacity:0;}
    100% {opacity:1;}
}